{% extends 'base.html' %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <h1>updating for subadmin {{sub_admin.id}}</h1>
    
    {% for feild in updated_subadmin %}
    {{feild.label}}
    {{feild}}
    {% endfor %}


    <input type="checkbox" id="add_bookstructure" name="subadmin_perms" value="add_bookstructure" {% if 'add_bookstructure' in sub_admin_permissions %}checked{% endif %}>
    <label for="add_bookstructure"> can create books </label>

    <input type="checkbox" id="delete_bookstructure" name="subadmin_perms" value="delete_bookstructure" {% if 'delete_bookstructure' in sub_admin_permissions %}checked{% endif %}>
    <label for="delete_bookstructure"> can delete books </label>

    <input type="checkbox" id="change_bookstructure" name="subadmin_perms" value="change_bookstructure" {% if 'change_bookstructure' in sub_admin_permissions %}checked{% endif %}>
    <label for="update_bookstructure"> can update books </label>


    <button type="submit" value="create_sub_admin">
        update sub_admin
    </button>
</form>.
{% endblock %}