{% extends 'base.html' %}

{% block content %}
<form method='POST'>
    {% csrf_token %}
    <label for="book_title">Enter the title of the book</label>
    <input type="text" name="book_title" id='book_title'>
    <br>
    <label for="number_of_days">Number of days the book has been issued</label>
    <input type="text" name="number_of_days" id='number_of_days'>
    <p><button type="submit">Search</button></p>
</form>
{% if show %}
    {% for issue in matched_issues %}
        <p>{{ issue.book }} issued by {{ issue.issued_by }} on {{ issue.Issue_date }}</p>
    {% empty %}
        <p>No books found for that number of days.</p>
    {% endfor %}
{% endif %}

{% endblock %}
