{% extends 'base.html' %}

{% block content %}

{% for books in List_all_books %}
<ul>
    {% if books.available_copies%}
        <li>{{ books.id }} - <a href="{% url 'book-details' books.id %}">{{ books.Title }}</a> : available copies : {{ books.available_copies }} </li>
    {% else %}
        <li>{{ books.id }} - <a href="{% url 'book-details' books.id %}">{{ books.Title }}</a> : no avaliable copies to Issue</li>
    {% endif %}
</ul>

{% endfor %}
<hr>
<a href="{% url 'create_books' %}">create a new book</a>
<p><a href="{% url 'home_page' %}">Go to home page</a></p>
{% endblock %}
