{% extends 'base.html' %}

{% block content %}
<h1>return book</h1>
<p>{{ request.user }}</p>
{% for issue in issued_book %}
    <p>{{ issue.book.book_instance.Title }} - Copy {{ issue.book.copy_number }} </p>
    <p>issued to {{ issue.issued_by.user.username }}</p>
    <p>return by: {{ issue.Return_date }} , </p>
    <p>return in {{ issue.days_left }} days </p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">return Book</button>
    </form>
<hr>
{% endfor %}

{% endblock %}
