{% extends 'base.html' %}

{% block content %}
<h1>Welcome to user profile page</h1>
<p> username : {{ customer.username }}</p>
<p>first name : {{ customer.first_name }}</p>
<p>Last name : {{ customer.last_name }}</p>
<p>age : {{ customer.age }}</p>
<p>email : {{ customer.email }}</p>
<p>profile pic : <img src="{{ customer.profile_picture.url }}" alt="profile pic" height="300" width="300"></p>
<a href="{% url 'update_user_profile' request.user.id%}"> update user profile</a>
<p>return to <a href="{% url 'user_home_page' request.user.id%}">homepage</a></p>
{% endblock %}